<nav class="p-3 xl:px-60 bg-neutral-200/80 backdrop-blur-sm shadow md:flex md:items-center md:justify-between fixed top-0 w-screen z-[99]">
    <div class="flex justify-between items-center">
        <span class="lg:text-2xl md:text-xl text-3xl font-bold cursor-pointer duration-300" onclick="location.href = 'index.html';">
            <img src="assets/daniel-icon.jpg" alt="daniel-icon" class="h-[50px] inline rounded-full">
            <h1 class="ml-3 inline">Portfólio - Daniel</h1>
        </span>

        <span class="text-3xl cursor-pointer mx-2 md:hidden block">
            <ion-icon name="menu" onclick="Menu(this)"></ion-icon>
        </span>
    </div>

    <ul class="md:flex md:items-center md:z-auto md:static absolute md:bg-transparent bg-white w-auto right-0 mr-1 md:w-auto text-right rounded-xl shadow-xl md:shadow-none md:py-0 py-4 md:pl-0 pl-7 pr-7 md:opacity-100 opacity-0 top-[-400px] transition-all ease-in-out duration-500">
        <li class="mx-4 my-6 md:my-0">
            <a href="index.html" class="text-xl duration-500 hover:text-2xl hover:bg-yellow-300 hover:p-1 hover:rounded-lg hover:shadow-lg hover:shadow-yellow-300">Início</a>
        </li>
        <li class="mx-4 my-6 md:my-0">
            <a href="areas.html" class="text-xl duration-500 hover:text-2xl hover:bg-yellow-300 hover:p-1 hover:rounded-lg hover:shadow-lg hover:shadow-yellow-300">Áreas</a>
        </li>
        <li class="mx-4 my-6 md:my-0">
            <a href="tecnico.html" class="text-xl duration-500 hover:text-2xl hover:bg-yellow-300 hover:p-1 hover:rounded-lg hover:shadow-lg hover:shadow-yellow-300">Técnico</a>
        </li>
        <li class="mx-4 my-6 md:my-0">
            <a href="extracurriculares.html" class="text-xl duration-500 hover:text-2xl hover:bg-yellow-300 hover:p-1 hover:rounded-lg hover:shadow-lg hover:shadow-yellow-300">Extracurriculares</a>
        </li>
        <li class="mx-4 my-6 md:my-0">
            <a href="sobre.html" class="text-xl duration-500 hover:text-2xl hover:bg-yellow-300 hover:p-1 hover:rounded-lg hover:shadow-lg hover:shadow-yellow-300">Sobre</a>
        </li>
    </ul>
</nav>

<script src="script.js"></script>